.login-container {
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
}

.image-container {
	flex: 1;
	background-image: url("/knight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	position: relative;
}

.image-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}

.login-box {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--color-text-primary);
	z-index: 1;
}
